*{
    padding:0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    
}

body{
    background: linear-gradient(135deg, #43cea2, #0d0f12);
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.container{
    justify-content: center;
    align-items: center;
    background: linear-gradient(150deg, #383535, #161515) ;
    height: 10rem;
    width: 50%;
    margin-top: 250px;
    border-radius: 1rem;
    text-align: center;
    padding: 10px 10px;
    

}

h2{
    color: white;
    font-weight: 800;
}

input{
    height: 2.5rem;
    width: 80%;
    margin-top: 1rem;
    outline: none;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    box-shadow: 0 0.2rem 1rem grey;
    padding: 0 10px;
}

.btn{
    height: 2.5rem;
    width: 80%;
    margin-top: 2rem;
    outline: none;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    background-color: rgb(100, 100, 226);
    cursor: pointer;
}

.btn:hover{
    background-color: green;
    
}

.btn:active{
    transform: scale(90%)
}

.QR-image{
    margin-top: 3rem;
}